<!-- $Id: get_latest_lists.tt2 10060 2013-12-26 05:21:03Z sikeda $ -->

<div class="block">
<table summary="[%|loc%]Latests Lists[%END%]" class="table_style">
 <tr class="color_light">
   <th>[%|loc%]Creation date[%END%]</th>
   <th>[%|loc%]Listname[%END%]</th>
   <th>[%|loc%]Subject[%END%]</th>
 </tr>

[% FOREACH list = latest_lists %]
[% IF dark == '1' %]
  <tr>[% SET dark = 0 %]
[% ELSE %]
  <tr class="color0">[% SET dark = 1 %]
[% END %]
<td>[% list.creation_date %]</td>
<td><a href="[% path_cgi %]/admin/[% list.name %]">[% list.name %]</a></td>
<td>[% list.subject %]</td>
</tr>
[% END %]
</table>
</div>

<!-- end get_latest_lists.tt2 -->
