<label for="template.[%template.key%]">[%|loc%]Mailing list configuration to be used for a news letter[%END%]</label>
<ul>
<li>[%|loc%]public and moderated list[%END%]</li>
<li>[%|loc%]subscribers emails are protected[%END%]</li>
</ul></dd></dl>
